<img src="../../assets/comm.jpg" alt="resident" class="bg">
<div class="box">
        <H1 >Commercial</H1>
        <mat-divider style="width:270px;border-top-width: 4px;"></mat-divider>
        <br>
         <div class="row box2 ">
            <div class="col-md-6">
                    <a [routerLink]="['./cassette']"><h2>Cassette</h2></a>
                <br>
                <img src="../../assets/cass.png" class="split">
                <br>
                <br>
                <br>
                <br>
                <p>
                        Get the best-in-class air conditioning experience with a wide range of split 
                        air conditioners by Daikin. Loaded with amazing features, exceptional cooling performance, 
                        and great energy-saving technology, our air conditioners level up the décor of your place 
                        wonderfully. Moreover, they come with 5 years warranty on compressor which means complete 
                        peace of mind.
                </p>
                <br>
                <button type="button" class="btn btn-primary btn-lg" routerLink="./cassette" routerLinkActive="active" style="display: block !important;
                margin: auto !important;">
                    EXPLORE</button>
                </div>
               
            </div>
            
            <div class="col-md-6" >
                    <a [routerLink]="['./duct']"><h2>Ducted</h2></a>
                <br>
                <img src="../../assets/ducted.png" class="air">
                <br>
                <br>
                <p>
                        Keep air pollutants at bay with our next-generation air purifiers that work silently and 
                        ensure that you and your loved  get the freshest and healthiest air possible. Daikin air 
                         purifiers come with state-of-the-art features such as streamer discharge technology, dust 
                        and odour sensor lamps, plasma dust collection, power-saving inverter, turbo mode and lot 
                        more. Its 6-stage filtration process guarantees enhance air cleaning all the time. 
                </p>
                <br>
                <button type="button" class="btn btn-primary btn-lg" routerLink="./duct" routerLinkActive="active" style="display: block !important;
                margin: auto !important;">
                    EXPLORE</button>
            </div>
            <div class="col-md-6">
                        <a [routerLink]="['./vrv']"><h2>VRV</h2></a>
                    <br>
                    <img src="../../assets/vrv.png" class="split">
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>
                            Get the best-in-class air conditioning experience with a wide range of split 
                            air conditioners by Daikin. Loaded with amazing features, exceptional cooling performance, 
                            and great energy-saving technology, our air conditioners level up the décor of your place 
                            wonderfully. Moreover, they come with 5 years warranty on compressor which means complete 
                            peace of mind.
                    </p>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg" routerLink="./vrv" routerLinkActive="active" style="display: block !important;
                margin: auto !important;">
                    EXPLORE</button>
                </div>
                
                <div class="col-md-6" >
                        <a [routerLink]="['./roof']"><h2>Rooftop</h2></a>
                    <br>
                    <img src="../../assets/rooftop.png" class="roof">
                    <br>
                    <br>
                    <p>
                            Keep air pollutants at bay with our next-generation air purifiers that work silently and 
                            ensure that you and your loved  get the freshest and healthiest air possible. Daikin air 
                             purifiers come with state-of-the-art features such as streamer discharge technology, dust 
                            and odour sensor lamps, plasma dust collection, power-saving inverter, turbo mode and lot 
                            more. Its 6-stage filtration process guarantees enhance air cleaning all the time. 
                    </p>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg" routerLink="./roof" routerLinkActive="active" style="display: block !important;
                margin: auto !important;">
                    EXPLORE</button>
                </div>
            </div> 
        </div> 


        <hr>
        
        