<img src="../../assets/light-industrial-workers.png" alt="resident" class="bg">

<div class="box">
    <H1 >Industrial</H1>
    <mat-divider style="width:270px;border-top-width: 4px;"></mat-divider>
    <br>
     <div class="row box2 ">
        <div class="col-md-6">
                <a [routerLink]="['./chillers']"><h2>Chillers</h2></a>
            <br>
            <img src="../../assets/chillers.png" class="split">
            <br>
            <br>
            <br>
            <br>
            <p>
                With a comprehensive range of chillers, Daikin is poised to power up various mechanical 
                cooling process applications across different industries. Our centrifugal chillers, screw 
                chillers, scroll chillers and air side products are a testament to our unmatched engineering 
                capability. They are an ideal choice for commercial, industrial and institutional HVAC 
                applications.
            </p>
            <br>
            <button type="button" class="btn btn-primary btn-lg" routerLink="./chillers" routerLinkActive="active" style="display: block !important;
                margin: auto !important;">
                    EXPLORE</button>
           
        </div>
        </div>
        </div>
