<img src="../../assets/AC-Services..-1.png" alt="Ac Service" class="servicebg">


<h1 >SERVICES</h1>
<h4>1)Standard Services</h4>
<h4> 2)Contract Conditions</h4>
<h4> 3)Upgrades & Enhancements</h4>
<h4> 4)Air Management Services</h4>

<div class="bg">

  <div class="que">Why is it important to service your airconditioning and refrigeration system ?</div>
  <p>All airconditioning and refrigeration systems, like any other machine, depreciate with time.
    And if not properly maintained, they progressively lose efficiency, consume more power,
    and drain your profits.<br/>
    <br>
    Without regular maintenance an airconditioner looses its original efficiency steadily every passing year.
    It is common knowledge that these inefficiencies accelerate in the absence of adequate monitoring
    and maintenance. Thereby, causing a lot of inconvenience.<br/><br>
    The good news however, is that you can recover most of that lost efficiency through regular maintenance.
    Studies show that with regular tune-ups a unit will maintain up to 95% of its original efficiency.
    This means that the cost of a periodictune -up is recovered very quickly in savings on your monthly power
    bill and reduced running and repair costs.<br>
  </p>
</div>