<img src="../../assets/about-us-banner.jpg" class="aboutbg">
<div class="container">
    <h1 class="heading">
        ABOUT US
    </h1>
    <br>
    <p>
            ClimaTech Aircon was founded in year 1998. With in a short span of time it has made its presence feel
            to almost all the Northern and Western states of India. Now it has spread its wings towards southern 
            India too. <br/>
            <br>

            ClimaTech Aircon boasts of a large group of satisfied customers. With its roots in Delhi and branches 
            in Mumbai it has reached to glorious heights. <br/>
            <br>
            
            Customer care is our priority. With this aim our team of engineers is striving towards providing our 
            prestigious clients with the best and latest cooling solutions available in the industry. <br/>
            <br>
            
            ClimaTech Aircon understands the dynamics and intricacies of different Industries and has the 
            expertise to provide optimal solutions for industry specific requirements. We have specialized 
            solutions for Banks, Builders, Cinema / Multiplexes, Dairy, Educational Institutions, Hospitals, 
            Hotels, Industrial Applications, IT / ITES, Malls, Offices, Pharma, PSU / Government, Restaurants / 
            Eateries, Showrooms / Retail Outlets, Telecom.<br/>
            <br>
    </p>
    <br>
    <br>
    <br>
</div>