
.head{
    color:rgb(125, 125, 204);
    font-size: 25px;
    text-align: center;
}
p{
    text-align: center;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
            }
 .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}