mat-toolbar{
  height:120px;
  background: white;
}
  
.logo{
  float: left; 
  /* width:150px; */
}
.mail{
  color:black !important;
 
}


hr{
  background-color: white;
  width:90%;
}
.mail{
  float: right;
  width: 45px;
  height: 45px;
  margin: 10px;
}

.fb{
  
    float: right;
    width: 37px;
    height: 37px;
    margin: 10px;
  
}

.nav-item{
  margin-left:25px;
}
ul {list-style-type: circle;}

@media only screen and (max-width: 500px){

  .con{
    float: right;
    width:30%
  }
  /* .fb{
    float: right;
    width:20%;
    height:20%;
    margin: 3px;
  }
  .mail{
    float: right;
    width:20%;
    height:20%;
    margin: 3px;
  } */
 .logo{
  width:70%
}
.foot{
  height: 500px;
}
.column{
  width:50% !important;
}

} 