<div style="overflow:  hidden; ">
<div >
        <br>   
         <br>     
</div>
<div class="row" > 
        <div class="col-md-2">
                
        </div>
        <div class="col-md-4" style="padding: 20px;">
                <h1>Residental</h1>
                <h3 >Creating your comfort</h3>
                <br>
                <button type="button" class="btn btn-default btn-lg" routerLink="./Resident" routerLinkActive="active" style="display: block !important;
                margin: auto !important;">
                    EXPLORE</button>
        </div>

        <div class="col-md-1"></div>

       <div class="col-md-4">
            <img src="../../assets/acfamily.jpg">
        </div>

        <div class="col-md-1"></div>
</div>

<div >
<!-- style="background-color: rgba(255, 192, 203, 0.788);" -->
        <br>   
        <hr>
        <br>     
</div>



<div class="row">

<!-- style="background-color:rgba(255, 192, 203, 0.788);">   -->
    
        <div class="col-md-2"></div>

        <div class="col-md-4">
            <img src="../../assets/atoffice.jpg">
        </div>

        <div class="col-md-1"></div>
       
        <div class="col-md-4" style="padding: 20px;">
            <h1>Commercial</h1>
            <h3>Cooling your Future with Technology</h3>
            <br>
            <button type="button" class="btn btn-default btn-lg" routerLink="./Commercial" routerLinkActive="active" style="display: block !important;
            margin: auto !important;">
                    EXPLORE</button>
        </div>

        <div class="col-md-1"></div>
</div>
<div >
        <!-- style="background-color:rgba(255, 192, 203, 0.788);"> -->
                <br>   
                <hr>
                <br>             
</div>
<div class="row" >
        <!-- style="background-color:rgba(166, 209, 226, 0.829);">   -->
    
        <div class="col-md-2" ></div>

        <div class="col-md-4" style="padding: 20px;">
                <h1>Industrial</h1>
                <h3>Our world of Cooling</h3>
                <br>
                <button type="button" class="btn btn-default btn-lg" routerLink="./Industrial" routerLinkActive="active" style="display: block !important;
                margin: auto !important;">
                    EXPLORE</button>

            </div>

        <div class="col-md-1"></div>
       
        <div class="col-md-4">
                <img src="../../assets/facility-two-480x291.jpg">
            </div>

        <div class="col-md-1"></div>
</div>
<br>
<br>

</div>