<img src="../../assets/Daikin-Warranty.jpg" class="homebg">
<br>
<br>
<br>

<div class="row" style="margin:0px !important; background-color:rgba(159, 159, 209, 0.301);">
    <div class="col-md-6">
       <img src="../../assets/diversity.jpg" style="width:100%;">
    </div>
    <div class="col-md-6">
        <div>
        <h1 style="text-align: center;padding: 30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">WHY DAIKIN</h1>
        <ul>
            <li>Daikin introduces VRV technology in India.</li>
            <li>Daikin India becomes a wholly-owned subsidiary of Daikin Industries Ltd., Japan.</li>
            <li>Daikin India relocates headquarter to Gurgaon and commences business of McQuay chillers in India.</li>
            <li>Production of High Wall Split air-conditioners with R32 refrigerant commences</li>
            <li>Fresh round of `330 crore investment.</li>
            <li>MoU signed with the Rajasthan Government for `600 crore investment.</li>
            <li>Research and Development Centre opens at Neemrana, Rajasthan.</li>
            <li>Research and Development Centre opens at Neemrana, Rajasthan.</li>
        </ul>
    </div>
</div>
</div>

<app-carasoul></app-carasoul>
<br>
<br>